{% extends "base.html" %}

{% block title %}Nueva sugerencia · AMPA Julián Nieto{% endblock %}

{% block content %}
  <section class="container">
    <h1>Nueva sugerencia</h1>
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.title.label }}{{ form.title() }}
      {{ form.category.label }}{{ form.category() }}
      {{ form.body.label }}{{ form.body() }}
      {{ form.attachment.label }}{{ form.attachment() }}
      {{ form.submit(class="btn full") }}
    </form>
  </section>
{% endblock %}
