FLASK_ENV=development
SECRET_KEY=changeme
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://ampa:password@localhost:5432/ampa_db
# SQLALCHEMY_DATABASE_URI=sqlite:///Data/app_Ampa.db
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=ampa
# POSTGRES_PASSWORD=changeme
# POSTGRES_DB=ampa
SECURITY_PASSWORD_SALT=changesalt
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=no-reply@ampa-jnt.es
ADMIN_EMAIL=admin@ampa-jnt.es
GOOGLE_DRIVE_SERVICE_ACCOUNT_FILE=service_account.json
GOOGLE_DRIVE_NEWS_FOLDER_ID=
GOOGLE_DRIVE_NEWS_FOLDER_NAME=Noticias
GOOGLE_DRIVE_SHARED_DRIVE_ID=
GOOGLE_DRIVE_OAUTH_CREDENTIALS_FILE=credentials_drive_oauth.json
NEWS_IMAGE_FORMAT=JPEG
NEWS_IMAGE_QUALITY=80
