FLASK_ENV=development
SECRET_KEY=changeme
SQLALCHEMY_DATABASE_URI=mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3Dlocalhost%5CEMEBIDWH%3BDATABASE%3DAMPA_JNT%3BUID%3Dsa%3BPWD%3D%3BTrusted_Connection%3Dno%3BTrustServerCertificate%3Dyes
SECURITY_PASSWORD_SALT=changesalt
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=no-reply@ampa-jnt.es
ADMIN_EMAIL=admin@ampa-jnt.es
