{# Shared scripts for the split date+time picker (reuniones-style) #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.date.js"></script>
<script src="https://cdn.jsdelivr.net/npm/timepicker-ui@4.0.2/dist/index.umd.js"></script>
<script src="{{ url_for('static', filename='js/datetime_split_picker.js') }}?v={{ now_str }}"></script>
